.apollo-container{
    width: 98vw;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 2px 5px;
}

.sidescroll-menu{
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.sidescroll-item{
    display: inline-block;
    color: ivory;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sidescroll-item:hover{
    background-color: #777;
}