$keyborder: 1px;
$keyWidth: 40px;
$keyHeight: 250px;
$flatWidth: ($keyWidth + $keyborder) * 0.6;
$flatHeight: 100px;

// $pressedKey:rgb(0, 89, 167);
$pressedKey:#52D1DC;




#piano {
  border-radius: 10px;
  width: 98vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 2*$keyHeight+4*$keyborder;
  margin-top: 1vh;
}

.key {
  text-align: center;
  width: $keyWidth;
  height: $keyHeight;
  border: $keyborder grey solid;
  z-index: 1;
  padding: 0;
  background-color: ivory;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

  transition: all 0.4s ease-in;

  &:focus {
    outline: 0;
    color: ivory;
    background-color: $pressedKey;
  }
}

.octave {
  position: relative;
  width: 7*$keyWidth !important;
}

.white-keys {
  width: auto;
}


.flats {
  position: absolute;
  top: 0;
  padding: 0;
  left: -($flatWidth + $keyborder) * 0.5;
  z-index: 10;
  text-align: center;
}

.flat-key {
  margin-right: $keyWidth * 0.4;
  padding: 0;
  color: white;
  background-color: rgb(32, 32, 32);
  width: $flatWidth;
  height: $flatHeight;
  border: $keyborder grey solid;
  font-size: 0.6em;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

  transition: all 0.4s ease-in;

  &:focus {
    outline: 0;
    color: ivory;
    background-color: $pressedKey;
  }
}

.flat-key-hidden {
  margin-right: $keyWidth * 0.4;
  color: white;
  background-color: green;
  width: $flatWidth;
  height: $flatHeight;
  border: $keyborder grey solid;
  visibility: hidden;
}
