@import url('https://fonts.googleapis.com/css?family=Oswald');
@import "./_Apollo-server.scss";
@import "./_Piano.scss";
@import "./_Player.scss";


$blueColor: #2196F3;


body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: $blueColor;
  background: #799f0c; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to top, #acbb78, #e0e2da); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to top,  #acbb78, #e0e2da); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

